<div class="panel">
    {% spaceless %}
    <h4>DELIVERY</h4>
    <ul>
        <li>
        FREE for all orders over $50
        </li>
        <li>
        $2 for all orders under $50 (Pacifica Only)
        </li>
    </ul>
    <p>
    Currently our products are only available for purchase/delivery within the city of Pacifica, CA.
    </p>
    <p>If you are not in our delivery area please come visit beautiful <a target='_new' href='http://www.cityofpacifica.org/about/50_great_things_in_pacifica/default.asp'>Pacifica</a>!
    </p>
    <p><a href='/contact'>Contact us</a> to schedule a delivery for when you visit.</p>
    {% endspaceless %}
</div>

{% load i18n future shop_tags mezzanine_tags %}
<div class="panel">
    {% spaceless %}
    <a href="{% url "shop_cart" %}">
    {% blocktrans count request.cart.total_quantity as cart_quantity %}1 item{% plural %}{{ cart_quantity }} items{% endblocktrans %}
    {% trans "in cart" %}:
    {{ request.cart.total_price|currency }}</a><br>
    {% if request.cart.total_quantity != 0 %}
    <a href="{% url "shop_checkout" %}" class="btn btn-primary">
        {% trans "Go to Checkout" %}
    </a><br>
    {% endif %}
    <a href="{% url "shop_wishlist" %}" class="btn-wishlist">
    {% blocktrans count request.wishlist|length as wishlist_count %}Wishlist contains 1 item{% plural %} Wishlist contains {{ wishlist_count }} items{% endblocktrans %}</a>
    {% ifinstalled mezzanine.accounts %}
    <br>
    {% include "accounts/includes/user_panel.html" %}
    {% endifinstalled %}
    {% endspaceless %}
</div>
